/* App.css */

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  height: 100%; /* Ensure full height */
  overflow: hidden; /* Prevent scrolling */
  background-color: white; /* Background color */
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; /* Header color */
  color: white; /* Clock color */
  padding: 20px;
  height: 40px; /* Fixed height for header */
}

/* Left side: Logo and Company name */
.header-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 60px; /* Adjust as needed */
  margin-right: 10px;
}

/* Center: Clock */
.header-center {
  flex: 1; /* Allow this section to take available space */
  text-align: center;
  position: relative; /* Needed for centering */
}

.clock {
  font-size: 4rem;
  margin: 0;
}

/* Right side: Login button */
.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align buttons to the right */
}

.login-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #0056b3;
}

/* Card container and card styles */
.card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px; /* Increased gap for better spacing between cards */
  padding: 20px; /* Padding around the grid */
  height: 80vh; /* Full viewport height minus header */
}

/* Card Styles */
.card {
  display: flex; /* Arrange icon and info side by side */
  align-items: center;
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: left;
  transition: transform 0.3s ease;
  cursor: pointer;
  height: 35vh; /* Allow card to grow based on content */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: add a slight shadow for depth */
}

.card:hover {
  transform: translateY(-5px);
}

.card-detail {
  text-align: center;
  margin-top: 50px;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

/* Temperature icon styles */
.temp-icon {
  width: 50px; /* Adjust as needed */
  height: 50px;
  margin-right: 15px; /* Space between icon and text */
}

/* Temperature info */
.temp-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
}

/* Temperature list */
.temp-list {
  list-style-type: none;
  padding: 0 0;
  margin: 0 0 20px 0;
}

.temp-list li {
  font-size: 1rem;
  margin: 15px 0; /* Space between temperature fields */
}

/* Specific colors for text labels */
.top-temp {
  color: red; /* Change to your desired color */
}

.set-temp {
  color:green;
}

.current-temp {
  color: #fcca03; /* Change to your desired color */
}
.current-temp-broj {
  font-size: 35px;
  margin-top: 8px;
  margin-bottom: 10px;
}

.bottom-temp {
  color: blue; /* Change to your desired color */
}

.db-crash {
  text-align: center;
  margin: auto;
  width: 100rem;
  font-size:25px;
  color: red;
}

.login-page {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh; /* Full viewport height */
  max-width: 400px;
  margin: 5rem auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: #f9f9f9;
}

.login-page h2 {
  margin-bottom: 20px;
}

.login-page form {
  display: flex;
  flex-direction: column;
}

.login-page div {
  margin-bottom: 15px;
}

.login-page label {
  margin-bottom: 5px;
  margin-right: 10px;
}

.login-page input {
  padding: 10px;
  width: 200px; /* Adjust input width */
}

.login-page button {
  padding: 10px;
  background-color: #007bff; /* Button color */
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.login-page button:hover {
  background-color: #0091ff; /* Darker green on hover */
}

.invalid-link {
  text-align: center;
  margin: auto;
  width: auto;
}

.kont-temp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  gap: 10rem;
}

.kont-temp-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -7rem;
  max-width: 300px;
}

.temp-form {
  background: #f9f9f9;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: auto;
  min-height: 300px;
  font-size: 20px;
  margin-bottom: 20px;
}

.top-temp-form {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size:inherit;
}

.set-temp-form {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size:inherit;
}

.donja-temp-form {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: inherit;
}

.temp-submit {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: inherit;
}

.temp-submit:hover {
  background-color: #0091ff;
}

.logout-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 12px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logs-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.daily-log-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  margin-left: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr); /* Two cards per row on tablets */
  }
}

@media (max-width: 480px) {
  .card-container {
    grid-template-columns: 1fr; /* One card per row on mobile */
  }
}

.admin-log {
  text-align: center;
  margin: auto;
  width: auto;
}

.user-log {
  text-align: center;
  margin: auto;
  width: auto;
}

/* LOGOVI */

.logs-page {
  width: 80%;
  margin: auto;
  font-family: Arial, sans-serif;
  color: #333;
}

h1 {
  text-align: center;
  color: #444;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.logs-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.logs-table th,
.logs-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.logs-table th {
  background-color: #f4f4f4;
  color: #333;
}

.level-info {
  color: green;
}

.level-warning {
  color: orange;
}

.level-error {
  color: red;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination button {
  margin: 0 4px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background-color: #eee;
  cursor: pointer;
}

.pagination button.active {
  background-color: #333;
  color: white;
}

.pagination button:hover {
  background-color: #ccc;
}
